// All styles for header pages (narrow)

// For medium screens devices : i.e. tablets (portrait) and small tablets -> iPad portrait
// 768px <= screen width < 1024px
// Grid (content width = 720px)

// Quick nav
#region-quick-access-links { 
	display: block;
	margin-top: 35px;
	margin-right: 10px; //25
}

// Banner
#zone-header-banner {
	display: block;
}
