// All styles for galleries pages (normal)

// For normal screens devices : i.e. tablets (portrait and landscape) and desktop -> iPad landscape
// 1024px <= screen width < 1220px
// Grid (content width = 960px)

/* All galleries page */
// Galleries
.container-12 .region-main-content--galleries {
	&.grid-9 {
		width: 700px;
		display: inline;
		float: left;
		margin-left: 10px;
		margin-right: 10px;
	}
}

// Filters
.region-sidebar-left--galleries {
	&.grid-3 { display: inline-block; }
}

/* One gallery page */